<button type="button" class="btn btn-success my-2 w-100" (click)="openModal()">
  Añadir categoría
</button>

<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngClass]="{ 'd-block': modalOpened }"
>
  <div class="modal-overlay" (click)="closeModal()" *ngIf="modalOpened"></div>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Añadir nueva categoría</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="submitForm()" #categoryForm="ngForm">
        <div class="modal-body">
          <div class="form-group">
            <label for="name">Nombre de la categoría *</label>
            <input
              type="text"
              class="form-control"
              id="name"
              placeholder="Ejemplo: Juegos de terror"
              [(ngModel)]="categoryName"
              name="name"
              required
              pattern="^(Juegos de\s)[a-zA-ZáéíóúÁÉÍÓÚñÑ\s]+$"
              #categoryNameInput="ngModel"
              [ngClass]="{
                'is-invalid':
                  categoryNameInput.invalid && categoryNameInput.dirty
              }"
            />
            <div class="invalid-feedback">
              Nombre no válido. Debe comenzar con "Juegos de"
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Cancelar
          </button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="categoryForm.invalid"
          >
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
