<div class="accordion-item mb-3 rounded">
  <div class="bg-secondary p-4">
    <div class="bg-info p-3">
      <h2 class="accordion-header" [attr.id]="'heading-' + index">
        <button
          class="accordion-button collapsed p-1 bg-info"
          type="button"
          [attr.data-bs-toggle]="'collapse'"
          [attr.data-bs-target]="'#collapse-' + index"
          [attr.aria-expanded]="false"
          [attr.aria-controls]="'collapse-' + index"
        >
          <h3 class="p-2 rounded w-100 text-center bg-primary mx-3">
            {{ category.name }}
          </h3>
        </button>
      </h2>
      <app-product-form [category]="category"></app-product-form>
      <div
        [attr.id]="'collapse-' + index"
        class="accordion-collapse collapse"
        [attr.aria-labelledby]="'heading-' + index"
      >
        <div class="accordion-body">
          <ng-container
            *ngFor="let product of category.products; let i = index"
          >
            <app-product [product]="product" [index]="i"></app-product>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
