<div class="accordion-item mb-3" style="border: 0">
  <div class="p-4" style="background: '#19376D'">
    <h2 class="accordion-header" [attr.id]="'heading-' + index">
      <button
        class="accordion-button collapsed p-1"
        style="background: '#19376D'"
        type="button"
        [attr.data-bs-toggle]="'collapse'"
        [attr.data-bs-target]="'#collapse-' + index"
        [attr.aria-expanded]="false"
        [attr.aria-controls]="'collapse-' + index"
      >
        <h3
          class="p-3 rounded w-100 text-center mx-3"
          style="background: '#576CBC'"
        >
          {{ category.name }}
        </h3>
      </button>
    </h2>
    <app-product-form [category]="category"></app-product-form>
    <div
      [attr.id]="'collapse-' + index"
      class="accordion-collapse collapse"
      [attr.aria-labelledby]="'heading-' + index"
    >
      <div class="accordion-body">
        <ng-container *ngFor="let product of category.products; let i = index">
          <app-product [product]="product" [index]="i"></app-product>
        </ng-container>
      </div>
    </div>
  </div>
</div>
