<button
  *ngIf="!disabledButton"
  class="btn btn-{{ type === 'empty-cart' ? 'danger' : 'success' }} my-2 w-100"
  (click)="open(content)"
>
  {{ type === "empty-cart" ? "Vaciar cesta" : "Realizar pedido" }}
</button>
<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="modal-basic-title">{{ msg }}</h5>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button
      type="button"
      class="btn btn-primary"
      (click)="confirmAction()"
    >
      Continuar
    </button>
  </div>
</ng-template>
